.jh-banner {
	color: black;
	text-align: right;
	padding: 32px;
	border-bottom: solid 3px black;
	display: flex;
	justify-content: flex-end;
	flex-direction: column;
	align-items:end;
}
.jh-logo-title {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.jh-title {
	padding-left: 32px;
}

.jh-logo {
	height: 45px;
	width: 45px;
}